extends layout 
block content



  link(rel='stylesheet' href='academy.css')
  img.img(src='/subPhoto.jpg' alt='text')
  .divWelcomeText
    h1#onImg.onImg &#x5D4;&#x5E8;&#x5E9;&#x5EA; &#x5D4;&#x5D7;&#x5D1;&#x5E8;&#x5EA;&#x5D9;&#x5EA; &#x5E9;&#x5DE;&#x5E0;&#x5D2;&#x5D9;&#x5E9;&#x5D4; &#x5D0;&#x5EA; &#x5D4;&#x5D0;&#x5E7;&#x5D3;&#x5DE;&#x5D9;&#x5D4;
    h1.mainStatment
    | &#x5D1;&#x5D0;&#x5EA;&#x5E8; &#x5E9;&#x5DC;&#x5E0;&#x5D5; &#x5D0;&#x5E0;&#x5D7;&#x5E0;&#x5D5; &#x5DE;&#x5D7;&#x5D6;&#x5D9;&#x5E8;&#x5D9;&#x5DD; &#x5D0;&#x5EA; &#x5D4;&#x5DB;&#x5D5;&#x5D7; &#x5D0;&#x5DC;&#x5D9;&#x5D4;&#x5DD;, &#x5D4;&#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD;
    | &#x5EA;&#x5D5;&#x5DB;&#x5DC;&#x5D5; &#x5DC;&#x5D3;&#x5E8;&#x5D2; &#x5DB;&#x5DC; &#x5E1;&#x5E8;&#x5D8;&#x5D5;&#x5DF;&#x5E9;&#x5E2;&#x5DC;&#x5D4; &#x5D5;&#x5DB;&#x5DC; &#x5DE;&#x5EA;&#x5E8;&#x5D2;&#x5DC; &#x5E9;&#x5D4;&#x5E2;&#x5DC;&#x5D4;, &#x5EA;&#x5D5;&#x5DB;&#x5DC;&#x5D5; &#x5DC;&#x5D4;&#x5D2;&#x5D9;&#x5D1; &#x5D5;&#x5D0;&#x5E4;&#x5D9;&#x5DC;&#x5D5; &#x5DC;&#x5E9;&#x5DC;&#x5D5;&#x5D7; &#x5D4;&#x5D5;&#x5D3;&#x5E2;&#x5D4; &#x5D1;&#x5E4;&#x5E8;&#x5D8;&#x5D9;, &#x5D5;&#x5D0;&#x5E0;&#x5D7;&#x5E0;&#x5D5; &#x5E4;&#x5D4; &#x5DB;&#x5D3;&#x5D9; &#x5DC;&#x5E9;&#x5E8;&#x5EA; &#x5D0;&#x5EA;&#x5DB;&#x5DD;
    | &#x5D4;&#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD;.
    | &#x5DE;&#x5D9;&#x5D9;&#x5E1;&#x5D3;&#x5D9; &#x5D4;&#x5D0;&#x5EA;&#x5E8; &#x5D4;&#x5D9;&#x5E0;&#x5DD; &#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD; &#x5E9;&#x5D4;&#x5E7;&#x5D9;&#x5DE;&#x5D5; &#x5D0;&#x5EA; &#x5D4;&#x5E4;&#x5E8;&#x5D5;&#x5D9;&#x5D9;&#x5E7;&#x5D8; &#x5DB;&#x5D3;&#x5D9; &#x5E9;&#x5DC;&#x5DB;&#x5D5;&#x5DC;&#x5E0;&#x5D5; &#x5D4;&#x5D0;&#x5E7;&#x5D3;&#x5DE;&#x5D9;&#x5D4; &#x5EA;&#x5D9;&#x5D4;&#x5D9;&#x5D4; &#x5E7;&#x5DC;&#x5D4; &#x5D9;&#x5D5;&#x5EA;&#x5E8;.
