doctype html
head
  link(rel='stylesheet' href='academy.css')
  script(defer='' src='../static/js4.js')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')

  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')         
  title tutriol academy
header
  .grid-container
    // in the header we create the tool bar of the website
    
    .cetnerTheDiv
      a.login(href='http://localhost:3030/signIn' target='_blank')  Log In
    .slide.cetnerTheDiv 
    .cetnerTheDiv
      a.signUp(href='http://localhost:3030/signUp' target='_blank')  Sign Up
      .cetnerTheDiv
      a.aboutUs(href='http://localhost:3030' target='_blank')  Home
    .cetnerTheDiv
      a.aboutUs(href='http://localhost:3030/aboutUs' target='_blank')  About Us
    .cetnerTheDiv
      a.uploadVideo(href='http://localhost:3030/addVideo' target='_blank')  Upload Video
    .item4  
    .container-fluid
      .dropdown
        button.dropbtn
          | Choose Degree  
          i.fa.fa-caret-down
        .dropdown-content
          a(href='#') &#x5D4;&#x5E0;&#x5D3;&#x5E1;&#x5EA; &#x5D7;&#x5E9;&#x5DE;&#x5DC;
          a(href='#') &#x5DE;&#x5D3;&#x5E2;&#x5D9; &#x5D4;&#x5DE;&#x5D7;&#x5E9;&#x5D1;
          a(href='#') &#x5D4;&#x5E0;&#x5D3;&#x5E1;&#x5EA; &#x5EA;&#x5E2;&#x5E9;&#x5D9;&#x5D9;&#x5D4; &#x5D5;&#x5E0;&#x5D9;&#x5D4;&#x5D5;&#x5DC;
block content 































//- doctype html
//- head
//-     link(rel='stylesheet' href='academy.css')
//-     meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-     meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-     title tutriol academy
//-     header
//-     .grid-container
//-         // in the header we create the tool bar of the website
//-         .cetnerTheDiv
//-         a.login(href='default.asp' target='_blank')  Log In
//-         .slide.cetnerTheDiv 
//-         .cetnerTheDiv
//-         a.signUp(href='default.asp' target='_blank')  Sign Up
//-         .cetnerTheDiv
//-         a.aboutUs(href='http://localhost:3030/aboutUs' target='_blank' )  About Us
//-         .cetnerTheDiv
//-         a.uploadVideo(href='default.asp' target='_blank')  Upload Video
//-         .item4  
//-         .container-fluid
//-         .dropdown
//-             button.dropbtn
//-             | Choose Degree  
//-             i.fa.fa-caret-down
//-             .dropdown-content
//-             a(href='#') &#x5D4;&#x5E0;&#x5D3;&#x5E1;&#x5EA; &#x5D7;&#x5E9;&#x5DE;&#x5DC;
//-             a(href='#') &#x5DE;&#x5D3;&#x5E2;&#x5D9; &#x5D4;&#x5DE;&#x5D7;&#x5E9;&#x5D1;
//-             a(href='#') &#x5D4;&#x5E0;&#x5D3;&#x5E1;&#x5EA; &#x5EA;&#x5E2;&#x5E9;&#x5D9;&#x5D9;&#x5D4; &#x5D5;&#x5E0;&#x5D9;&#x5D4;&#x5D5;&#x5DC;
//-     block content 



