extends layout 
block content
    .subjects(style='width: 18rem;')
    h1.electric  &#x5D4;&#x5E0;&#x5D3;&#x5E1;&#x5EA; &#x5D7;&#x5E9;&#x5DE;&#x5DC;
    div(class='card')
        div(class='card-body')
            img(src='/תעונ.jpg' alt='...' class = 'card-img-top')
            h5.card-title חדוא 1
            p.card-text
            a(href='http://localhost:3030/showVid' class = 'btn btn-primary') Enter
        div(class='card-body1')
            img(src='/תעונ.jpg' alt='...' class = 'card-img-top')
            h5.card-title  חדוא 2
            p.card-text
            a(href='http://localhost:3030/showVid' class = 'btn btn-primary') Enter
        div(class='card-body2')
            img(src='/תעונ.jpg' alt='...' class = 'card-img-top')
            h5.card-title  מערכות ספרתיות
            p.card-text
            a(href='http://localhost:3030/showVid' class = 'btn btn-primary') Enter
        div(class='card-body3')
            img(src='/תעונ.jpg' alt='...' class = 'card-img-top')
            h5.card-title מעגלים
            p.card-text
            a(href='http://localhost:3030/showVid' class = 'btn btn-primary') Enter
    h1(class='mainStatment')
                | &#x5D1;&#x5D0;&#x5EA;&#x5E8; &#x5E9;&#x5DC;&#x5E0;&#x5D5; &#x5D0;&#x5E0;&#x5D7;&#x5E0;&#x5D5; &#x5DE;&#x5D7;&#x5D6;&#x5D9;&#x5E8;&#x5D9;&#x5DD; &#x5D0;&#x5EA; &#x5D4;&#x5DB;&#x5D5;&#x5D7; &#x5D0;&#x5DC;&#x5D9;&#x5D4;&#x5DD;, &#x5D4;&#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD;
                | &#x5EA;&#x5D5;&#x5DB;&#x5DC;&#x5D5; &#x5DC;&#x5D3;&#x5E8;&#x5D2; &#x5DB;&#x5DC; &#x5E1;&#x5E8;&#x5D8;&#x5D5;&#x5DF;&#x5E9;&#x5E2;&#x5DC;&#x5D4; &#x5D5;&#x5DB;&#x5DC; &#x5DE;&#x5EA;&#x5E8;&#x5D2;&#x5DC; &#x5E9;&#x5D4;&#x5E2;&#x5DC;&#x5D4;, &#x5EA;&#x5D5;&#x5DB;&#x5DC;&#x5D5; &#x5DC;&#x5D4;&#x5D2;&#x5D9;&#x5D1; &#x5D5;&#x5D0;&#x5E4;&#x5D9;&#x5DC;&#x5D5; &#x5DC;&#x5E9;&#x5DC;&#x5D5;&#x5D7; &#x5D4;&#x5D5;&#x5D3;&#x5E2;&#x5D4; &#x5D1;&#x5E4;&#x5E8;&#x5D8;&#x5D9;, &#x5D5;&#x5D0;&#x5E0;&#x5D7;&#x5E0;&#x5D5; &#x5E4;&#x5D4; &#x5DB;&#x5D3;&#x5D9; &#x5DC;&#x5E9;&#x5E8;&#x5EA; &#x5D0;&#x5EA;&#x5DB;&#x5DD; &#x5D4;&#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD;.
                | &#x5DE;&#x5D9;&#x5D9;&#x5E1;&#x5D3;&#x5D9; &#x5D4;&#x5D0;&#x5EA;&#x5E8; &#x5D4;&#x5D9;&#x5E0;&#x5DD; &#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD; &#x5E9;&#x5D4;&#x5E7;&#x5D9;&#x5DE;&#x5D5; &#x5D0;&#x5EA; &#x5D4;&#x5E4;&#x5E8;&#x5D5;&#x5D9;&#x5D9;&#x5E7;&#x5D8; &#x5DB;&#x5D3;&#x5D9; &#x5E9;&#x5DC;&#x5DB;&#x5D5;&#x5DC;&#x5E0;&#x5D5; &#x5D4;&#x5D0;&#x5E7;&#x5D3;&#x5DE;&#x5D9;&#x5D4; &#x5EA;&#x5D9;&#x5D4;&#x5D9;&#x5D4; &#x5E7;&#x5DC;&#x5D4; &#x5D9;&#x5D5;&#x5EA;&#x5E8;.


            
