//- extends layout 
//- block content


//-   img.img(src='/subPhoto.jpg' alt='text')
//-   .divWelcomeText
//-     h1#onImg.onImg &#x5D4;&#x5E8;&#x5E9;&#x5EA; &#x5D4;&#x5D7;&#x5D1;&#x5E8;&#x5EA;&#x5D9;&#x5EA; &#x5E9;&#x5DE;&#x5E0;&#x5D2;&#x5D9;&#x5E9;&#x5D4; &#x5D0;&#x5EA; &#x5D4;&#x5D0;&#x5E7;&#x5D3;&#x5DE;&#x5D9;&#x5D4;
//-   h1#welcome.welcome &#x5D1;&#x5E8;&#x5D5;&#x5DB;&#x5D9;&#x5DD; &#x5D4;&#x5D1;&#x5D0;&#x5D9;&#x5DD; &#x5DC;&#x5D0;&#x5EA;&#x5E8; &#x5D4;&#x5DC;&#x5DE;&#x5D9;&#x5D3;&#x5D4; &#x5DE;&#x5E8;&#x5D7;&#x5D5;&#x5E7; &#x5E9;&#x5DC; &#x5D0;&#x5D5;&#x5E0;&#x5D9;&#x5D1;&#x5E8;&#x5E1;&#x5D9;&#x5D8;&#x5EA; &#x5D1;&#x5DF; &#x5D2;&#x5D5;&#x5E8;&#x5D9;&#x5D5;&#x5DF;
//-   // in the next frame we put the cards of our degrees/courses/tuters
//-   .card(style='width: 18rem;')
//-     .card-body
//-       img.card-img-top(src='/תעונ.jpg' alt='...')
//-       h5.card-title &#x5D4;&#x5E0;&#x5D3;&#x5E1;&#x5EA; &#x5EA;&#x5E2;&#x5E9;&#x5D9;&#x5D9;&#x5D4; &#x5D5;&#x5E0;&#x5D9;&#x5D4;&#x5D5;&#x5DC;
//-       p.card-text
//-       a.btn.btn-primary(href='http://localhost:3030/industriel') Enter
//-     .card-body1
//-       img.card-img-top(src='/תעונ.jpg' alt='...')
//-       h5.card-title &#x5DE;&#x5D3;&#x5E2;&#x5D9; &#x5D4;&#x5DE;&#x5D7;&#x5E9;&#x5D1;
//-       p.card-text
//-       a.btn.btn-primary(href='http://localhost:3030/madmah') Enter
//-     .card-body2
//-       img.card-img-top(src='/תעונ.jpg' alt='...')
//-       h5.card-title &#x5D4;&#x5E0;&#x5D3;&#x5E1;&#x5EA; &#x5D7;&#x5E9;&#x5DE;&#x5DC;
//-       p.card-text
//-       a.btn.btn-primary(href='http://localhost:3030/electric') Enter
//-     .card-body3
//-       img.card-img-top(src='/תעונ.jpg' alt='...')
//-       h5.card-title &#x5E4;&#x5E1;&#x5D9;&#x5DB;&#x5D5;&#x5DC;&#x5D5;&#x5D2;&#x5D9;&#x5D4;
//-       p.card-text
//-       a.btn.btn-primary(href='http://localhost:3030/psychology') Enter
//-   h1.mainStatment
//-     | &#x5D1;&#x5D0;&#x5EA;&#x5E8; &#x5E9;&#x5DC;&#x5E0;&#x5D5; &#x5D0;&#x5E0;&#x5D7;&#x5E0;&#x5D5; &#x5DE;&#x5D7;&#x5D6;&#x5D9;&#x5E8;&#x5D9;&#x5DD; &#x5D0;&#x5EA; &#x5D4;&#x5DB;&#x5D5;&#x5D7; &#x5D0;&#x5DC;&#x5D9;&#x5D4;&#x5DD;, &#x5D4;&#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD;
//-     | &#x5EA;&#x5D5;&#x5DB;&#x5DC;&#x5D5; &#x5DC;&#x5D3;&#x5E8;&#x5D2; &#x5DB;&#x5DC; &#x5E1;&#x5E8;&#x5D8;&#x5D5;&#x5DF;&#x5E9;&#x5E2;&#x5DC;&#x5D4; &#x5D5;&#x5DB;&#x5DC; &#x5DE;&#x5EA;&#x5E8;&#x5D2;&#x5DC; &#x5E9;&#x5D4;&#x5E2;&#x5DC;&#x5D4;, &#x5EA;&#x5D5;&#x5DB;&#x5DC;&#x5D5; &#x5DC;&#x5D4;&#x5D2;&#x5D9;&#x5D1; &#x5D5;&#x5D0;&#x5E4;&#x5D9;&#x5DC;&#x5D5; &#x5DC;&#x5E9;&#x5DC;&#x5D5;&#x5D7; &#x5D4;&#x5D5;&#x5D3;&#x5E2;&#x5D4; &#x5D1;&#x5E4;&#x5E8;&#x5D8;&#x5D9;, &#x5D5;&#x5D0;&#x5E0;&#x5D7;&#x5E0;&#x5D5; &#x5E4;&#x5D4; &#x5DB;&#x5D3;&#x5D9; &#x5DC;&#x5E9;&#x5E8;&#x5EA; &#x5D0;&#x5EA;&#x5DB;&#x5DD; &#x5D4;&#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD;.
//-     | &#x5DE;&#x5D9;&#x5D9;&#x5E1;&#x5D3;&#x5D9; &#x5D4;&#x5D0;&#x5EA;&#x5E8; &#x5D4;&#x5D9;&#x5E0;&#x5DD; &#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD; &#x5E9;&#x5D4;&#x5E7;&#x5D9;&#x5DE;&#x5D5; &#x5D0;&#x5EA; &#x5D4;&#x5E4;&#x5E8;&#x5D5;&#x5D9;&#x5D9;&#x5E7;&#x5D8; &#x5DB;&#x5D3;&#x5D9; &#x5E9;&#x5DC;&#x5DB;&#x5D5;&#x5DC;&#x5E0;&#x5D5; &#x5D4;&#x5D0;&#x5E7;&#x5D3;&#x5DE;&#x5D9;&#x5D4; &#x5EA;&#x5D9;&#x5D4;&#x5D9;&#x5D4; &#x5E7;&#x5DC;&#x5D4; &#x5D9;&#x5D5;&#x5EA;&#x5E8;.


extends layout 
block content

  link(rel='stylesheet' href='academy.css')
  img.img(src='/subPhoto.jpg' alt='text')
  .divWelcomeText
  h1#onImg.onImg &#x5D4;&#x5E8;&#x5E9;&#x5EA; &#x5D4;&#x5D7;&#x5D1;&#x5E8;&#x5EA;&#x5D9;&#x5EA; &#x5E9;&#x5DE;&#x5E0;&#x5D2;&#x5D9;&#x5E9;&#x5D4; &#x5D0;&#x5EA; &#x5D4;&#x5D0;&#x5E7;&#x5D3;&#x5DE;&#x5D9;&#x5D4;
  h1#welcome.welcome &#x5D1;&#x5E8;&#x5D5;&#x5DB;&#x5D9;&#x5DD; &#x5D4;&#x5D1;&#x5D0;&#x5D9;&#x5DD; &#x5DC;&#x5D0;&#x5EA;&#x5E8; &#x5D4;&#x5DC;&#x5DE;&#x5D9;&#x5D3;&#x5D4; &#x5DE;&#x5E8;&#x5D7;&#x5D5;&#x5E7; &#x5E9;&#x5DC; &#x5D0;&#x5D5;&#x5E0;&#x5D9;&#x5D1;&#x5E8;&#x5E1;&#x5D9;&#x5D8;&#x5EA; &#x5D1;&#x5DF; &#x5D2;&#x5D5;&#x5E8;&#x5D9;&#x5D5;&#x5DF;
  // in the next frame we put the cards of our degrees/courses/tuters
    



  div(class='card')

    div(class='card-body')
      img(src='/תעונ.jpg' alt='...' class = 'card-img-top')
      h5.card-title הנדסת תעשייה וניהול
      p.card-text
      a(href='http://localhost:3030/industriel' class = 'btn btn-primary') Enter
    div(class='card-body1')
      img(src='/תעונ.jpg' alt='...' class = 'card-img-top')
      h5.card-title מדעי המחשב
      p.card-text
      a(href='http://localhost:3030/madmah' class = 'btn btn-primary') Enter
    div(class='card-body2')
      img(src='/תעונ.jpg' alt='...' class = 'card-img-top')
      h5.card-title הנדסת חשמל
      p.card-text
      a(href='http://localhost:3030/electric' class = 'btn btn-primary') Enter
    div(class='card-body3')
      img(src='/תעונ.jpg' alt='...' class = 'card-img-top')
      h5.card-title פסיכולוגיה
      p.card-text
      a(href='http://localhost:3030/psychology' class = 'btn btn-primary') Enter
  h1(class='mainStatment')
            | &#x5D1;&#x5D0;&#x5EA;&#x5E8; &#x5E9;&#x5DC;&#x5E0;&#x5D5; &#x5D0;&#x5E0;&#x5D7;&#x5E0;&#x5D5; &#x5DE;&#x5D7;&#x5D6;&#x5D9;&#x5E8;&#x5D9;&#x5DD; &#x5D0;&#x5EA; &#x5D4;&#x5DB;&#x5D5;&#x5D7; &#x5D0;&#x5DC;&#x5D9;&#x5D4;&#x5DD;, &#x5D4;&#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD;
            | &#x5EA;&#x5D5;&#x5DB;&#x5DC;&#x5D5; &#x5DC;&#x5D3;&#x5E8;&#x5D2; &#x5DB;&#x5DC; &#x5E1;&#x5E8;&#x5D8;&#x5D5;&#x5DF;&#x5E9;&#x5E2;&#x5DC;&#x5D4; &#x5D5;&#x5DB;&#x5DC; &#x5DE;&#x5EA;&#x5E8;&#x5D2;&#x5DC; &#x5E9;&#x5D4;&#x5E2;&#x5DC;&#x5D4;, &#x5EA;&#x5D5;&#x5DB;&#x5DC;&#x5D5; &#x5DC;&#x5D4;&#x5D2;&#x5D9;&#x5D1; &#x5D5;&#x5D0;&#x5E4;&#x5D9;&#x5DC;&#x5D5; &#x5DC;&#x5E9;&#x5DC;&#x5D5;&#x5D7; &#x5D4;&#x5D5;&#x5D3;&#x5E2;&#x5D4; &#x5D1;&#x5E4;&#x5E8;&#x5D8;&#x5D9;, &#x5D5;&#x5D0;&#x5E0;&#x5D7;&#x5E0;&#x5D5; &#x5E4;&#x5D4; &#x5DB;&#x5D3;&#x5D9; &#x5DC;&#x5E9;&#x5E8;&#x5EA; &#x5D0;&#x5EA;&#x5DB;&#x5DD; &#x5D4;&#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD;.
            | &#x5DE;&#x5D9;&#x5D9;&#x5E1;&#x5D3;&#x5D9; &#x5D4;&#x5D0;&#x5EA;&#x5E8; &#x5D4;&#x5D9;&#x5E0;&#x5DD; &#x5E1;&#x5D8;&#x5D5;&#x5D3;&#x5E0;&#x5D8;&#x5D9;&#x5DD; &#x5E9;&#x5D4;&#x5E7;&#x5D9;&#x5DE;&#x5D5; &#x5D0;&#x5EA; &#x5D4;&#x5E4;&#x5E8;&#x5D5;&#x5D9;&#x5D9;&#x5E7;&#x5D8; &#x5DB;&#x5D3;&#x5D9; &#x5E9;&#x5DC;&#x5DB;&#x5D5;&#x5DC;&#x5E0;&#x5D5; &#x5D4;&#x5D0;&#x5E7;&#x5D3;&#x5DE;&#x5D9;&#x5D4; &#x5EA;&#x5D9;&#x5D4;&#x5D9;&#x5D4; &#x5E7;&#x5DC;&#x5D4; &#x5D9;&#x5D5;&#x5EA;&#x5E8;.
