extends layout 
block content
    link(rel='stylesheet' href='academy.css')
    img.img(src='/subPhoto.jpg' alt='text')
    .divWelcomeText

    div(style="display: flex; justify-content: center; align-items: center; margin-top: 100px;")
        a(href='https://www.veed.io/view/faddfb53-6b77-4fbe-92a8-356c8aafdc75?sharingWidget=true&panel=share' class = 'btn btn-primary' style="padding: 50px 100px 50px 100px; font-size: 30px;") Enter Video

          

    